.page-header
  %h1 Update your profile

= form_for @user, url: profile_path(@user) do |f|

  .form-group
    = f.label :full_name
    = f.text_field :full_name, class: "form-control"

  .form-group
    = f.label :email, "Email address"
    = f.text_field :email, class: "form-control"
    .help-block
      Your email is used to display a #{ link_to "Gravatar", "http://gravatar.com" } and to send a
      reminder on the morning of the event. We won't sell or otherwise abuse your email address.
      Promise.

  = f.submit "Update Profile", class: "btn btn-primary"

%hr

%h3 Connect your other accounts

.btn-group
  = link_to auth_path(:github), class: "btn btn-default #{ "disabled" if provider?("github") }" do
    %span.fa.fa-github.fa-lg
    GitHub
  = link_to auth_path(:twitter), class: "btn btn-info #{ "disabled" if provider?("twitter") }" do
    %span.fa.fa-twitter.fa-lg
    Twitter
  = link_to auth_path(:facebook), class: "btn btn-primary #{ "disabled" if provider?("facebook") }" do
    %span.fa.fa-facebook.fa-lg
    Facebook
  = link_to auth_path(:gplus), class: "btn btn-danger #{ "disabled" if provider?("gplus") }" do
    %span.fa.fa-google-plus.fa-lg
    Google+
