- if current_user?
  %li
    = link_to edit_profile_path do
      = image_tag current_user.avatar, width: 20,
        style: "position: relative; top: -1px; border-radius: 20px;"
      &nbsp;
      = current_user.full_name
  %li= link_to "Sign Out", sign_out_path
- else
  %li.dropdown
    %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
      Sign In
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to auth_path(:github) do
          %span.fa.fa-github
          Sign in with GitHub
      %li
        = link_to auth_path(:twitter) do
          %span.fa.fa-twitter
          Sign in with Twitter
      %li
        = link_to auth_path(:facebook) do
          %span.fa.fa-facebook
          Sign in with Facebook
      %li
        = link_to auth_path(:gplus) do
          %span.fa.fa-google-plus
          Sign in with Google+
