- cache [ "v1", event, "summary" ] do
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = link_to event_path(event) do
          - if event.creator == current_user
            %span.label.label-success Organizing
          - else
            %span.label.label-primary Attending
          = event.name
    .panel-body
      %p
        %small= event.starts_at.to_s(:long)
      %p
        = markdownify(event.description)
    %ul.list-group
      %li.list-group-item
        %span.icon-location
        = google_maps_link(event.location)

