<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= page_title %> | Jackson</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <%= yield %>
    </div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>

  <footer>
    <div class="container">
      <hr />
      <div class="pull-right">
        <a href="https://github.com/philtr/jackson"><span class="fa fa-github fa-lg"></a>
        <a href="mailto:hello@jacksonisthere.com"><span class="fa fa-envelope-o fa-lg"></a>
      </div>
    </div>
  </footer>

</html>
