<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= page_title %> | Jackson</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <%- if flash[:notice] -%>
        <div class="alert alert-warning"><%= flash[:notice] %></div>
      <%- end %>

      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="container">
      <hr />
      <div class="pull-right">
        <a href="https://github.com/philtr/jackson"><span class="icon-github"></a>
        <a href="mailto:hello@jacksonisthere.com"><span class="icon-mail"></a>
      </div>
    </div>
  </footer>

</html>
